.info-main {
  position: relative;
}

.recipe-info-section {
  padding: 15px;
}

.heading {
  font-weight: 450;
}

p {
  cursor: not-allowed;
  text-decoration: none;
  color: black;
  pointer-events: none;
}
