<form
  [@searchBarPosition]="isInitial ? 'initial' : 'final'"
  class="search-bar-position"
>
  <div
    style="display: flex; align-items: center;margin-top: 10px"
    [@searchBarItemsAlignment]="searchBarItemsAlignment"
  >
    <h1 style="text-align: center; color: darkorange; width: 200px">
      Recipe app
    </h1>
    <mat-form-field style="width: 100%">
      <input
        type="text"
        placeholder="Search your favourite recipe"
        matInput
        [formControl]="recipeAutoComplete"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="recipeDisplayValue"
        (optionSelected)="onRecipeSelect($event)"
      >
        <mat-option
          *ngFor="let recipe of recipeAutoComplete$ | async"
          [value]="recipe"
        >
          {{ recipe.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-spinner
      [color]="spinnerColor"
      [diameter]="30"
      [ngClass]="{ visible: loading, hidden: !loading }"
      [strokeWidth]="2"
      [mode]="'indeterminate'"
      style="margin: 5px"
    >
    </mat-spinner>
  </div>
</form>
